<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FitbitTestConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FitbitTestConsole.Properties.Settings>
            <setting name="RedirectUrl" serializeAs="String">
                <value>https://www.fitbit.com/user/7RFW6Q</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>22B5FB</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>30cef5fa7888fda6d8331b1b0e0d2f31</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMkI1RkIiLCJzdWIiOiI3UkZXNlEiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJzY29wZXMiOiJ3aHIgd251dCB3cHJvIHdzbGUgd3dlaSB3c29jIHdhY3Qgd3NldCB3bG9jIiwiZXhwIjoxNTY5ODI2MjM5LCJpYXQiOjE1Njk0Mjc3MzN9.z6XRydGWMBthsmC8DXj4D7ktlh9ntTgzo-yOKDHSOaM</value>
            </setting>
            <setting name="Expires" serializeAs="String">
                <value>604800</value>
            </setting>
            <setting name="Scopes" serializeAs="String">
                <value>heartrate weight profile nutrition activity sleep settings social location</value>
            </setting>
        </FitbitTestConsole.Properties.Settings>
    </userSettings>
</configuration>